
<!--<nav>-->
<!--  <a routerLink="/index" routerLinkActive="active">Index</a>-->
<!--  <br>-->
<!--  <a routerLink="/rental" routerLinkActive="active">Rent</a>-->
<!--</nav>-->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!--<div>-->
<!--  <table class="table" style="width: 80%">-->
<!--    <tr>-->
<!--      <th>Brand</th>-->
<!--      <th>BranchName</th>-->
<!--      <th>Model</th>-->
<!--      <th>Gearbox</th>-->
<!--      <th>ImageURL</th>-->
<!--      <th>feePerDay</th>-->
<!--      <th>mileage</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let final of car">-->
<!--      <td>-->
<!--        {{final.brand}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{final.branchName}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{final.model}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{final.gearbox}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{final.imageUrl}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{final.feePerDay}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{final.mileage}}-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
